#APP
PORT=8000

# DATABASE
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_NAME=nest_template

#AUTH
JWT_ACCESS_SECRET=secret_key
JWT_REFRESH_SECRET=secret_key
JWT_EXPIRES_IN=1h

# THROTTLING
THROTTLE_TTL=60
THROTTLE_LIMIT=10
